h1{
    color: darkblue;
}

table, th, td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
}

td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

tr:nth-child(odd){
    color: black;
}

tr:nth-child(even){
    background-color: rgb(149, 215, 241);
}

