h1{
    color: darkblue;
}

th, td{
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

tr:nth-child(even){
    background-color: honeydew;
}

tr:nth-child(odd){
    background-color: lightblue;
}